.pagesHome h3 span{
    color : yellowgreen;
    font-weight: 600;
}
.panelLeft {
    background-color:rgb(39, 39, 36);
}

.pagesHome {
    background-color: rgb(39, 39, 36);
}

.searchBar{
    background-color: gainsboro;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
    


.user-info-container {
    width: 300px;
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  
  #scrollingText {
    color: burlywood;
    position: absolute;
    white-space: nowrap;
    animation: scrolling 12s linear infinite;
  }
  #scrollingText:hover {
    animation-play-state: paused;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  



  #nowPlaying{
    color: rgb(204, 31, 31);
  }

 #friendsMusicsArtist{
    color: burlywood
 }

 #friendsName{
    color: rgb(57, 200, 200);
    font-weight: 600;
 }

 table {
  background-color: rgb(39, 39, 36);
 }