.dropdown-item{
    color: yellowgreen;
}

nav h2 a{
    color: yellowgreen;
}

.brd-profile .brd-settings .brd-sign-out{

    color: yellowgreen;
}

.dropdown-menu{
    background-color: black;
}

.greenColor{
    color: yellowgreen;
}

.navbar {
    background-color: rgb(39, 39, 36);
}
.friendCard{
    background-color: rgb(39, 39, 36);
}
.btnMusicSearch{
    background-color: rgb(95, 90, 90);
    color: white;
}