<template name="componentsNavbar">

  <!-- Navbar -->
  <nav class="componentsNavbar navbar navbar-expand-lg">

    <div class="container-fluid d-flex justify-content-around">
  
        <div class="navbarPageBackDiv col-lg-2 col-md-4 col-sm-12 d-flex justify-content-between">
          <div class="container ">
            <button type="button" class="btn btn-outline-light rounded-5 me-3"><i class="fa-solid fa-chevron-left"></i></button>
            <button type="button" class="btn btn-outline-light rounded-5"><i class="fa-solid fa-chevron-right"></i></button>
          </div>
        </div>
  
        <div class="navbarSearchBarDiv col-lg-6 col-md-4 col-sm-12">
          <form id="formSearch" class="d-flex">
            <input type="text" class="form-control me-2 rounded-5" id="musicSearchInput" placeholder="Müzik ara..." style="width: 300px;" >
            <button type="submit" class="btn rounded-5 btn-info btnMusicSearch">Ara</button>
          </form>
        </div>
  
        <div class="navbarLogoDiv col-lg-4 col-md-4 col-sm-12 pe-3 d-flex justify-content-end ">
          <div class="row ">
            <div class="col mt-2 ">
              <i class="fa-solid fa-compact-disc text-success me-2"></i>

            </div>
            <div class="col">
              <h2 class="m-0"><a href="/home" class="text-decoration-none">Harmoni</a></h2>

            </div>
          </div>
        </div>
  
      </div>

  
  </nav>
  



</template>