.dropdown-item{
    color: yellowgreen;
}

nav h2 a{
    color: yellowgreen;
}

.brd-profile .brd-settings .brd-sign-out{

    color: yellowgreen;
}

.dropdown-menu{
    background-color: black;
}

.greenColor{
    color: yellowgreen;
}