<template name="publicLayouts">
    <div class="publicLayoutsDefault d-flex flex-column vh-100">
      {{#if currentUser}}
        
        {{> componentsNavbar}}
    
        <div class="flex-fill bg-danger py-0">
          {{> Template.dynamic template=page}}
        </div>
    
        {{> componentsFooter}}
      {{else}}
      <div class="container">
        <div style="height: 100vh;" class="d-flex justify-content-center align-items-center flex-column  bg-warning rounded-5 gap-2 py-4 text-center">
          <h4 class="mb-0 fw-bold">Uygulamadan çıktınız</h4>
          <p class="text-muted">Uygulamaya girmek için giriş yapınız</p>
          <a href="/login" class="btn btn-success align-self-center" style="width: 100px;">Giriş</a>
        </div>
      </div>
        
      {{/if}}

    </div>
  </template>